@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat&display=swap');

.App {
  text-align: center;
  background: url("https://res.cloudinary.com/dgbf3yxnd/image/upload/v1603142395/bernard-hermant-X-Bu9X6gok0-unsplash_xd6vnn.jpg");
  background-position: center;
  background-size: cover;
}


