.homepageHeader {
  font-family: "Alata", sans-serif;
  color: white;
  background-color: #84be1f;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  padding: 3px;
}

.homepageInfo {
  text-align: left;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
}

.homepage .homepageInfo h4 {
  font-size: 15px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.homepage span {
  font-style: italic;
}

.recipeGenLink {
  color: #84be1f;
}

@media only screen and (min-width: 768px) {
  .homepageHeader {
    padding: 5px;
  }

  .homepageInfo {
    margin-left: 50px;
    margin-right: 50px;
  }

  .homepage .homepageInfo h4 {
    text-align: center;
  }
}
