.login {
  position: absolute;
  right: 15px;
  font-family: "Alata", sans-serif;
  margin-top: 10px;
}

.account {
  position: absolute;
  right: 15px;
  font-family: "Alata", sans-serif;
  margin-top: 10px;
}
